@chareset"UTF-8";

body{
  background-image:url(../IMG_4008.JPG);
}

#lead{
 background-color:#ffa500;
}

h1 span{
 font-size:1.25em;
 font-weight:bold;
}

.greeting{
  color:#ffcc00;
  font-size: 1.25em;
  border: #94c8b1 1px dotted;
}
