@chareset"UTF-8";

hc span{
  font-size:1.0em;
  background-color:#ffa500;
}

h1 span{
 font-size:1.25em;
 font-weight:bold;
}

#h2{
 font-size:1.75em;
 color:#2277aa;
 }

li{
 
}

.bird{
  padding: 20px 0px;
  padding-right: 30px;
  background-image: url(.jpg);
  background-repeat: no-repeat;
  background-position: center;
}
